* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: #191816;   
}

a {
    text-decoration: none;
}

.site-information {
    display: grid;
    padding: 2.5rem;
    width: 50%;
}

.form-container {
    justify-self: center;
    background-color: #24221F;
    border-radius: 5px;
    margin: 8rem 0rem;
    padding: 4rem 7rem;
    width: 37.5rem;
    height: 36rem;
}

.login-text h2 {
    background: url('images/log-in.svg') no-repeat left;
    color: #D4CCB6;
    font: 500 1.6rem 'Poppins', sans-serif;
    padding-left: 32px;
}

.login-text p {
    color: #AFB6C2;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0.3rem 0 1.5rem 0;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    row-gap: 1.2rem;
}

.form-container fieldset {
    border: none;
}

.email,
.password {
    position: relative;
}

.email label,
.password label {
    display: block;
    color: #AFB6C2;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: .3rem;
}

.email input,
.password input {
    background-color: transparent;
    border: 1px solid #868686;
    width: 100%;
    border-radius: 5px;
    padding: .7rem 2.1rem;
    color: #A9AFB9;
    font-size: .9rem;
    transition: outline 300ms, border 300ms;
}

.email input {
    background: url('images/mail.svg') no-repeat .4rem center;
}

.password input {
    background: url("images/lock.svg") no-repeat .4rem center,
    url("images/eye.svg") no-repeat 96% center;

}

.email input:focus,
.password input:focus {
    outline: 1px solid #FFC632;
    border-color: #FFC632;
}

.email input:focus {
    background-image: url('images/mail-focus.svg');
}

.password input:focus {
    background-image: url('images/lock-focus.svg');
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox label {
    color: #A9AFB9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: pointer;
}

.checkbox input {
    all: unset;
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #868686;
    transition: background 200ms;
}

.checkbox input:checked {
    background: #FFC632 url('images/check.svg') no-repeat center/cover;
    border-color: #FFC632;
}

.forgot-password a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: .9rem;
    color: #FFC632;
}

.forgot-password a:hover,
.register a:hover,
.btn-login:hover {
    transition: opacity 200ms;
    opacity: .8;
}

.btn-login {
    width: 100%;
    padding: .8rem 1.5rem;

    background-color: #FFC632;
    border-radius: 5px;
    color: #473404;

    font: 1.2rem 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.register {
    text-align: center;
    font: .9rem 'Poppins', sans-serif;
}

.register a {
    color: #FFC632;
}

.photo-information {
    width: 50%;
    height: 100vh;
    opacity: .9;
    background: url('images/side-image-2x.jpg') no-repeat center/cover;
}

/* Media queries */
@media (max-width: 1386px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 1088px) {
    body,
    html {
        font-size: 100%;
        display: block;
    }
    .photo-information {
        display: none;
    }

    .site-information {
        width: 100%;
    }

    .form-container {
        background-color: transparent;
        padding: 0;
        margin: 3rem 0;
        width: 100%;
    }
}

@media (max-width: 380px) {
    html {
        font-size: 80%;
    }
}